.btn-primary {
  padding: 0.875rem 1.6875rem;
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  border-radius: 50px;
  border: 1px solid #000;
  transition: all ease-in 0.5s;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: #000;
  outline: none;
}

.btn-icn {
  background-color: #fff;
  border-color: #fff;
  border-radius: 50%;
  color: #000;
  width: 3.75rem;
  height: 3.75rem;
  transition: all 0.2s ease-in;
  padding: 0;
}

.btn-icn:hover {
  color: #000;
  background-color: $primary-color;
  border-color: transparent;
}
.btn-icn:focus {
  color: #000;
  background-color: $primary-color;
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.5);
}
