.section {
  padding: 5rem 3rem;
  &--hero {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/imgs/header.jpg");
    aspect-ratio: 16/7;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-body {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100vh;
      > div {
        position: relative;
        z-index: 0;
        text-align: center;
      }
      > div:first-child:before {
        content: "";
        position: absolute;
        background: #fff;
        border-radius: 50%;
        filter: blur(1.25rem);
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        left: 0;
        right: 0;
      }
      .sub-heading {
        font-size: clamp(1.2rem, 2vw, 2rem);
        color: #000;
        font-weight: 400;
        font-family: $font-primary;
      }
      .heading {
        font-size: 5vw;
        color: $primary-color;
        font-weight: 700;
        font-family: $font-primary;
      }
    }
  }

  &--info {
    .section-body {
      display: flex;
      justify-content: space-between;
      gap: 2vw;

      @media (max-width: 767px) {
        flex-direction: column;
      }

      > .heading {
        white-space: nowrap;
      }
      > .sub-heading {
        font-size: clamp(1rem, 2vw, 1.125rem);
        font-weight: normal;
        line-height: 1.5;
      }
    }
  }
  &--bg-light {
    background-color: #ededed;
  }
  h2 {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
  }
  &-head {
    position: relative;
    padding-bottom: 4rem;

    .heading > .title-highlight {
      position: relative;
      &:before {
        content: "PRERESEACH GEC";
        position: absolute;
        text-align: center;
        margin: auto;
        font-size: clamp(2.5rem, 9vw, 9.5rem);
        line-height: 1;
        font-weight: bold;
        width: 100%;
        top: -2.375rem;
        z-index: -1;
        opacity: 0.1;
      }
    }
  }
  &-body {
    .property-wrap {
      @include wrap;
    }
  }
  &--projects {
  }
  &--homes {
    .section-head {
      padding-bottom: 1rem;
    }
    .header {
      display: flex;
      justify-content: space-between;
      position: unset;
      align-items: flex-end;
      .title {
        font-size: 6vw;
        font-weight: 500;
        opacity: 0.5;
      }
      .action {
        margin-left: auto;
        text-align: right;
      }
    }
  }
  &--types {
    padding: 0;
    .section-head {
      padding: 5rem 3rem;
      border-top: 1px solid #ccc;

      .section-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 767px) {
          flex-direction: column;
        }

        .info-heading {
          font-size: 8vw;
          letter-spacing: 17px;
          text-transform: uppercase;
        }
        .info-result {
          font-size: clamp(1rem, 2vw, 2rem);
        }
      }
    }
  }
  &--faq {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.05);

    @media (max-width: 991px) {
      flex-direction: column;
    }

    .section-head {
      padding-bottom: 0;
      flex: 0 0 35%;

      .heading {
        font-size: 6vw;
      }
    }

    .section-body {
      flex: 1;
    }
  }
  &--discounts {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    .heading {
      font-size: 5vw;
    }
    .sub-heading {
      font-size: 2.4vw;
    }
  }
}
