* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-secondary;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

.lead {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: normal;
}

.form-control {
  -webkit-appearance: auto;
}
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.5);
}

.info-wrap {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 500px) {
    flex-direction: column;
    gap: 1rem;
  }

  .info-vr {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .info-lbl {
      font-size: 0.8rem;
    }

    .info-name {
      font-size: 1rem;
    }
  }
}

.ml-auto {
  margin-left: auto;
}
