.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;

  @media (max-width: 767px) {
    flex-direction: column;
    &:before {
      content: "";
      filter: blur(200px) !important;
    }
  }

  &:before {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(50px);
  }
}
